<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .emak {
      display : flex;
      justify-content : space-around;
      flex-wrap : wrap;
      gap : 20px;
      padding : 30px;
    }

    .kartu {
      background-color: rgb(254, 250, 212);
      border-radius : 10px;
      margin: 20px 0px;
      height : 300px;
      width: 300px;
      overflow : auto;
      padding: 20px 36px;
      cursor: pointer;
      box-shadow: rgb(245, 230, 83, 0.4) -5px 5px, rgb(245, 230, 83, 0.3) -10px 10px, rgb(245, 230, 83, 0.2) -15px 15px, rgb(245, 230, 83, 0.1) -20px 20px;
    }

    .kartu:hover{
      background-color: rgb(245, 230, 83, 0.4)
    }

    .induk {
      display: flex;
    }

    .paling-kiri {
      display: flex;
      justify-content: flex-start;
      width : 100%;
    }

    .paling-kanan {
      display: flex;
      justify-content: flex-start;
      width : 100%;
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color:rgb(240, 240, 214)">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="page-content container note-has-grid">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(255, 236, 139)">
      <a class="navbar-brand" href="/lab-4">Message 📬</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/lab-4">Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="note-list">Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="add-note">Send Message🧡</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="emak">
      {% for note in notes %}
      <div class="kartu">
        <div>
          <h3 style="text-align: center;">{{ note.title }}</h3>
          <hr>
        </div>
        <div>
          <div class="induk">
            <div class="paling-kiri">
              <p>TO</p>
            </div>
            <div class="paling-kanan">
              <p>{{ note.to }}</p>
            </div>
          </div>
          <div class="induk">
            <div class="paling-kiri">
              <p>FROM</p>
            </div>
            <div class="paling-kanan">
              <p>{{ note.From }}</p>
            </div>
          </div>
          <div class="induk">
            <div class="paling-kiri">
              <p>MESSAGE</p>
            </div>
            <div class="paling-kanan">
              <p>{{ note.message }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>    
  </div>
</body>
</html>
