<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .table>tbody>tr>th{
        background-color: rgb(255, 236, 139)
    }
    
    tr:hover{
        background-color: rgb(245, 230, 83, 0.4)
    }
    
    tr{
        cursor: pointer
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color:rgb(240, 240, 214)">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="page-content container note-has-grid">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(255, 236, 139)">
      <a class="navbar-brand" href="/lab-4">Message 📬</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/lab-4">Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="note-list">Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="add-note">Send Message🧡</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="tab-content bg-transparent">
        <div id="note-full-container" class="note-has-grid row">
            <div class="col-xl-12 single-note-item all-category">
                <div class="card card-body">
                  <table class="table">
                    <tr>
                      <th>From</th>
                      <th>To</th>
                      <th>Title</th>
                      <th>Message</th>
                    </tr>
                    {% for note in notes %}
                    <tr>
                      <td>{{ note.From }}</td>
                      <td>{{ note.to }}</td>
                      <td>{{ note.title }}</td>
                      <td>{{ note.message }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
