h3 {
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 25px rgba(240, 46, 170, 0.4), 0 0 5px rgba(240, 46, 170, 0.3);
  }
  
.emak {
	display : flex;
	justify-content : space-around;
	flex-wrap : wrap;
	gap : 20px;
	padding : 30px;
}

.kartu {
    background-color: rgb(255,228,225);
	border-radius : 10px;
    margin: 20px 0px;
	height : 300px;
    width: 300px;
	overflow : auto;
    padding: 20px 36px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.induk {
	display: flex;
}

.paling-kiri {
	display: flex;
	justify-content: flex-start;
	width : 100%;
}

.paling-kanan {
	display: flex;
	justify-content: flex-start;
	width : 100%;
}