<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <style>
    .emak {
        display : flex;
        justify-content : space-around;
        flex-wrap : wrap;
        gap : 20px;
        padding : 30px;
    }

    .kartu {
        background-color: rgb(254, 250, 212);
        border-radius : 10px;
        margin: 20px 0px;
        height : 300px;
        width: 300px;
        overflow : auto;
        padding: 20px 36px;
        cursor: pointer;
        box-shadow: rgb(245, 230, 83, 0.4) -5px 5px, rgb(245, 230, 83, 0.3) -10px 10px, rgb(245, 230, 83, 0.2) -15px 15px, rgb(245, 230, 83, 0.1) -20px 20px;
    }

    .kartu:hover{
        background-color: rgb(245, 230, 83, 0.4)
    }

    .induk {
        display: flex;
    }

    .paling-kiri {
        display: flex;
        justify-content: flex-start;
        width : 100%;
    }

    .paling-kanan {
        display: flex;
        justify-content: flex-start;
        width : 100%;
    }
    </style>
    <meta charset="UTF-8" />
    <title>Messages🧡</title>
  </head>
  <body style="padding: 10px;">
    <div class="emak">
      {% for note in notes %}
      <div class="kartu">
        <div>
          <h3 style="text-align: center;">{{ note.title }}</h3>
        </div>
        <div>
          <div class="induk">
            <div class="paling-kiri">
              <p>TO</p>
            </div>
            <div class="paling-kanan">
              <p>{{ note.to }}</p>
            </div>
          </div>
          <div class="induk">
            <div class="paling-kiri">
              <p>FROM</p>
            </div>
            <div class="paling-kanan">
              <p>{{ note.From }}</p>
            </div>
          </div>
          <div class="induk">
            <div class="paling-kiri">
              <p>MESSAGE</p>
            </div>
            <div class="paling-kanan">
              <p style="text-align: justify;">{{ note.message }}</p>
            </div>
          </div>
          <div>
            <button type="button"> View </button>
            <button type="button"> Edit </button>
            <button type="button">Delete</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>