<form action="" method="POST">
    {% csrf_token %}
    <div style="flex-direction: column; display: flex; width: max-content;">
        {{form}}
    </div>
    <input type="submit" value="Tambah Teman">
</form>