{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <meta charset="UTF-8" />
    <title>Messages🧡</title>
  </head>
  <body style="padding: 10px;">
    <div class="emak">
      {% for note in notes %}
      <div class="kartu">
        <div>
          <h3 style="text-align: center;">{{ note.title }}</h3>
        </div>
        <div>
          <div class="induk">
            <div class="paling-kiri">
              <p>TO</p>
            </div>
            <div class="paling-kanan">
              <p>{{ note.to }}</p>
            </div>
          </div>
          <div class="induk">
            <div class="paling-kiri">
              <p>FROM</p>
            </div>
            <div class="paling-kanan">
              <p>{{ note.From }}</p>
            </div>
          </div>
          <div class="induk">
            <div class="paling-kiri">
              <p>MESSAGE</p>
            </div>
            <div class="paling-kanan">
              <p style="text-align: justify;">{{ note.message }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>    
  </body>
</html>